In [5]:
import mysql.connector
conn=mysql.connector.connect(host="localhost",user="root",password="Ann1020")

print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000276C891E0C8>

In [6]:
c=conn.cursor()

In [7]:
print(c)

CMySQLCursor: (Nothing executed yet)

In [8]:
c.execute("show databases")

In [9]:
for i in c:
    print(i)

('ann',)
('employees',)
('employees_mod',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [10]:
import mysql.connector
conn=mysql.connector.connect(host="localhost",user="root",password="Ann1020")
c=conn.cursor()
c.execute("create database ann_task1")

In [12]:
c.execute("show databases")

In [13]:
for i in c:
    print(i)

('ann',)
('ann_task1',)
('employees',)
('employees_mod',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [27]:
#single student entry
import mysql.connector
conn=mysql.connector.connect(host="localhost",user="root",password="Ann1020",database="ann_task1")
c=conn.cursor()
cur=conn.cursor()
q="insert into student values(%s,%s,%s)"
v=(182000,"Riya","Mech")
#c.execute("create table student (roll_no int not null primary key,fname varchar(20) not null, branch varchar(20) not null)")
try:
    cur.execute(q,v)
    conn.commit()
except:
    conn.rollback()

    
conn.close()

In [34]:
#multiple student entry
import mysql.connector
conn=mysql.connector.connect(host="localhost",user="root",password="Ann1020",database="ann_task1")
c=conn.cursor()
cur=conn.cursor()
q="insert into student values(%s,%s,%s)"
v=[(182007,"Rhea","Extc"),(180222,"Aive","IT")]
#c.execute("create table student (roll_no int not null primary key,fname varchar(20) not null, branch varchar(20) not null)")
try:
    cur.executemany(q,v)
    conn.commit()
except:
    conn.rollback()

    
conn.close()

In [ ]:
#alter
import mysql.connector
conn=mysql.connector.connect(host="localhost",user="root",password="Ann1020",database="ann_task1")
c=conn.cursor()
cur=conn.cursor()

q=cur.execute("alter table student add location varchar(10) default 'Mumbai'")

try:
    cur.execute(q)
    conn.commit()
except:
    conn.rollback()

    
conn.close()

In [46]:
#update
import mysql.connector
conn=mysql.connector.connect(host="localhost",user="root",password="Ann1020",database="ann_task1")
conn.cursor()
cur=conn.cursor()

cur.execute("update student set fname='Ann Zachariah' where roll_no=182001")

conn.commit()
    
conn.close()

In [51]:
#delete
import mysql.connector
conn=mysql.connector.connect(host="localhost",user="root",password="Ann1020",database="ann_task1")
conn.cursor()
cur=conn.cursor()

cur.execute("delete from student where fname='Ann Zachariah'")

conn.commit()
    
conn.close()

In [ ]:
import mysql.connector
conn=mysql.connector.connect(host="localhost",user="root",password="Ann1020")
c=conn.cursor()
c.execute("create database ann_task2")

c.execute("show databases")
for i in c:
    print(i)